.nav-link:hover + .item,
.item:hover {
    @apply top-full opacity-100;
    max-height: 1000px;
}

.item {
    max-height: 0;
    transition: all ease 300ms;
    @apply top-12 opacity-0;
}


.hide-header {
    top: calc(var(--header-height) * -1);
}